.movies__filters {
  display: flex;
  align-items: center;

  > * {
    width: 50%;
  }
}

.movies__radio {
  display: inline-block;
  margin: 0 0.5rem;
}
.title--medium {
  margin: 0 0 0.25rem 0;
  font-size: 1.125rem;
  font-weight: 700;
}
.movies__filters {
  display: flex;
  align-items: center;
}
.border--medium {
  color: #cecece;
  background-color: black;
}
.form__input-text {
  color: black;
  background-color: #cecece;
}
