.movies__filters {
  display: flex;
  align-items: center;

  > * {
    width: 50%;
  }
}
.main__section1 {
  color: #cecece;
  background-color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main__section1-title {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
.movies__filters {
  display: flex;
  align-items: center;
  padding: 10px;
}
.filterGender {
}
.form__input-text {
  color: black;
  background-color: #cecece;
  margin-left: 5px;
}
.movies__radio {
  display: inline-block;
  margin: 0 0.5rem;
}
