.header {
  background-color: black;
  display: flex;
  flex-direction: row;
}
.header__title {
  color: #e50914;
}
.header__menu {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: flex-end;
  margin: 0 auto;
}
.header__navItem {
  list-style: none;
}
.header__navLink {
  color: #e50914;
  list-style: none;
  cursor: pointer;
}
